# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment
.env

# Data and model artifacts
data/
models/

# Generated Results
results/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
